
<div class="container">

  <h1>Lista de Usuarios</h1> <br><br>

  <button type="button" class="btn btn-primary" (click)="post()">Nuevo Usuario</button> <br><br>

  <table class="table">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">NOMBRE</th>
        <th scope="col">APELLIDO</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users" (click)="put(user.id)">
        <th scope="row">{{user.id}}</th>
        <td>{{user.name}}</td>
        <td>{{user.surname}}</td>
      </tr>
    </tbody>
  </table>
  <br><br>
</div>
