<h1>{{title}}</h1>

<h3>Mostrar todos los usuarios</h3>

<div>
  <ul *ngFor=" let user of users">
    <li>
      {{user.name}} {{user.surname}}
      <button (click)="update(user.id, user)">Actualizar</button>
      <button (click)="delete(user.id)">Eliminar</button>
    </li>
  </ul>
</div>
<br>
<br>
<br>

<div>
  <label for="insertName">Name:</label>
  <input type="text" id="insertName" [(ngModel)]="newUser.name" name="insertName" placeholder="insert name"> <br><br>

  <label for="insertSurname">Surname:</label>
  <input type="text" id="insertSurname" [(ngModel)]="newUser.surname" name="insertSurname" placeholder="insert surname"> <br><br>

  <button (click)="insert(newUser)">
    Insert new user
  </button>
</div>



